{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <link rel="stylesheet" href="{% static 'css/buttons.css' %}" />
    {% block links %}

    {% endblock %}
    <title>
      {% block title %}
        Home
      {% endblock %}
    </title>
  </head>
  <body>
    <div>
      <section class="header">
        {% block header %}

        {% endblock %}
      </section>
      <section class="sidenav">
        <a id="home" href="{% url 'core:home' %}">Home</a>
        <a id="clients" href="{% url 'clients:index' %}">Clientes</a>
        <a id="products" href="#" id="products">Produtos</a>
        <a id="sales" href="#" id="sales">Vendas</a>
        <a id="suppliers" href="#" id="suppliers">Fornecedores</a>
      </section>
      <section class="content">
        <div style="padding-left: 200px; padding-right: 20px;">
          {% block content %}
          {% endblock %}
        </div>
      </section>
      <section class="footer">
        <p>Desenvolvido por: israelbrito&#169;</p>
        <p>israelcvb21@gmail.com</p>
        <p>2024</p>
      </section>
    </div>
  </body>
</html>
