body {
    margin: 0;
}

.hnavbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    width: 100%;
    top: 0;
}

.hnavbar li {
    float: left;
}

.hnavbar li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
}

.hnavbar li a:hover {
    background-color: #111;
}

.vnavbar {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    margin-top: 17px;
    left: 0px;
    background-color: #333;
    overflow-x: hidden;
}

.vnavbar ul {
    list-style-type: none;
    padding: 0;
}

.vnavbar li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 14px 16px;
}

.vnavbar li a:hover {
    background-color: #111;
}

.search label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

.search input[type=text] {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
}

.search button {
    width: 100%;
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 4px;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.search button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
