{% extends 'website/base.html' %}

{% block title %}Produtos{% endblock  %}

{% block vnavbar %}
    {% include 'products/product_nav.html' %}
{% endblock  %}
{% block content %}
<h1>Lista de produtos</h1>
<style>
    table {
        font-family: Arial, sans-serif;
        border-collapse: collapse;
        width: 100%%;
    }

    td, th {
        border: 1px solid #ddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #ddd;
    }
</style>
<table>
    <tbody>
        <tr>
            <th>Código</th>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Preço</th>
        </tr>
        {% for product in products %}
        <tr>
            <td><a href="{% url 'products:detail' pk=product.id %}">{{ product.barcode }}</a></td>
            <td>{{ product.name }}</td>
            <td>{{ product.description }}</td>
            <td>{{ product.price }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock  %}