{% extends 'website/base.html' %}

{% load static %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'website/css/form.css' %}" />
{% endblock %}

{% block title %}
  {% if context == 'update' %}
    Editar produto
  {% elif context == 'create' %}
    Novo produto
  {% endif %}
{% endblock %}

{% block vnavbar %}
  {% include 'products/product_nav.html' %}
{% endblock %}

{% block content %}
  {% if context == 'update' %}
    <h1>Editar produto</h1>
  {% elif context == 'create' %}
    <h1>Novo produto</h1>
  {% endif %}
  <div class="cform">
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Salvar" />
    </form>
  </div>
{% endblock %}
